Tests: test-i386-baseline
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-i386

Tests: test-SSE2
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-i386

Tests: test-amd64-baseline
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-i386

Tests: test-x86-64-v1
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-i386

Tests: test-x86-64-v2
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-i386 any-amd64

Tests: test-SSE3
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-i386 any-amd64

Tests: test-SSE4.1
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-i386 any-amd64

Tests: test-SSE4.2
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-i386 any-amd64

Tests: test-x86-64-v3
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-i386 any-amd64

Tests: test-neon
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-arm

Tests: test-ARMv6
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: armel

Tests: test-ARMv6K
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: armel

Tests: test-ARMv7
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: armel

Tests: test-ARMv8
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-arm

Tests: test-arm64-baseline
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: any-arm

Tests: test-VFP
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: armel

Tests: test-VFPv2
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: armel

Tests: test-VFPv3
Depends: isa-support, qemu-user (>>1:9.1.0+ds-8~), build-essential
Architecture: armel

